*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}
.card1{
    background-color:  #e38826;
}
.card2{
    background-color:  #26e3a0;
}
.card3{
    background-color:  #004241;
}