/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}

/* Card Styling */
.card {
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__icon {
  width: 3rem;
}

.card__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card__text {
  line-height: 1.6;
  font-size: 0.95rem;
}

.card__button {
  margin-top: auto;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: none;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.card--sedan {
  background-color: #e38826;
}

.card--suv {
  background-color: darkcyan;
}

.card--luxury {
  background-color: #004241;
}

.card__button--sedan:hover {
  background-color: #e38826;
  color: white;
}

.card__button--suv:hover {
  background-color: #26e3a0;
  color: white;
}

.card__button--luxury:hover {
  background-color: #004241;
  color: white;
}


@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
    max-width: 720px;
    min-height: fit-content;
  }

  .card {
    flex: 1;
  }
}
